{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
<div class="grey-bg container-fluid">
  <section id="minimal-statistics">
    <div class="row">
      <div class="col-12 mt-3 mb-1">
        <h4 class="text-uppercase"><b>Statistics overview:</b></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-graph success font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>{{total_cases}}</h3>
                  <span>Total number of cases in the World</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-graph success font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>{{cases}}</h3>
                  <span>Total cases in {{state}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-graph success font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>{{deaths}}</h3>
                  <span>Total number of deaths in {{state}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>


  </section>
</div>

{% endblock %}



